
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Virtual Reality</title>
    <!-- <meta name="description" content="360&deg; Image Gallery - A-Frame"> -->
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="https://npmcdn.com/aframe-animation-component@3.0.1"></script>
    <script src="https://npmcdn.com/aframe-event-set-component@3.0.1"></script>
    <script src="https://npmcdn.com/aframe-layout-component@3.0.1"></script>
    <script src="https://npmcdn.com/aframe-template-component@3.1.1"></script>
    <script src="https://unpkg.com/aframe-text-geometry-component@0.5.1/dist/aframe-text-geometry-component.min.js"></script>
    <script src="javascripts/set-image.js"></script>
   
  </head>
  <body>
   
    <a-scene>
      <a-assets>
        <img id="sky" crossorigin="anonymous" src="images/blue.png">
        <img id="city" crossorigin="anonymous" src="images/pp.jpg">
        <img id="city-thumb" crossorigin="anonymous" src="images/pokhara1.png">
        <img id="cubes-thumb" crossorigin="anonymous" src="images/everest1.png">
        <img id="sechelt-thumb" crossorigin="anonymous" src="images/boudha1.png">
        <img id="logo" crossorigin="anonymous" src="images/zx.png">

        <!-- <iframe id="cubes" width="700" height="450" src="http://www.airpano.ru/files/Nepal_Kathmandu/2-3-2" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" framespacing="0"> </iframe> <br><div style="float:right">Courtesy of <a href="http://www.airpano.com/" target="_blank">www.AirPano.com</a></div> -->
        <audio id="click-sound" crossorigin="anonymous" src="https://cdn.aframe.io/360-image-gallery-boilerplate/audio/click.ogg"></audio>
        <img id="cubes" crossorigin="anonymous" src="images/photo.jpg">
        <img id="sechelt" crossorigin="anonymous" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/sechelt.jpg">

       <a-asset-item id="pedro" src="http://www.fontspace.com/pedro-teixeira-foundry/forever-brush-script"></a-asset-item>
       <a-asset-item id="dawningFont" src="https://cdn.glitch.com/c719c986-c0c5-48b8-967c-3cd8b8aa17f3%2FdawningOfANewDayRegular.typeface.json?1490305922844"></a-asset-item>
        <a-asset-item id="exoFont" src="https://cdn.glitch.com/c719c986-c0c5-48b8-967c-3cd8b8aa17f3%2Fexo2Black.typeface.json?1490305922150"></a-asset-item>
        <a-asset-item id="exoItalicFont" src="https://cdn.glitch.com/c719c986-c0c5-48b8-967c-3cd8b8aa17f3%2Fexo2BlackItalic.typeface.json?1490305922725"></a-asset-item>


        <!-- 
            -->


        <!-- Image link template to be reused. -->
        <script id="link" type="text/html">
          <a-entity class="link"
            geometry="primitive: plane; height: 2.5; width: 3"
            position="-0.75 1.25 0"
            event-set__1="_event: mousedown; scale: 1 1 1"
            event-set__2="_event: mouseup; scale: 1.2 1.2 1"
            event-set__3="_event: mouseenter; scale: 1.2 1.2 1"
            event-set__4="_event: mouseleave; scale: 1 1 1"
             material="shader: flat; src: ${thumb}"
             set-image="on: click; target: #image-360; src: ${src}"
            sound="on: click; src: #click-sound"></a-entity>
        </script>
      </a-assets>
      <!-- sky skyy -->
      <!--  <a-entity id="sky"
                  geometry="primitive: sphere; radius: 65;"
                  material="shader: skyGradient; colorTop: #353449; colorBottom: #BC483E; side: back"></a-entity>
         <a-entity ground></a-entity>
         <a-entity light="type: point; color: #f4f4f4; intensity: 0.2; distance: 0" position="8 10 18"></a-entity>
         <a-entity light="type: point; color: #f4f4f4; intensity: 0.6; distance: 0" position="-8 10 -18"></a-entity>
         <a-entity light="type: ambient; color: #f4f4f4; intensity: 0.4;" position="-8 10 -18"></a-entity>
      </a-entity> -->

      <!-- 360-degree image. -->
      <a-sky id="image-360" src="#sky" rotation="0 -90 0" radius="10"></a-sky>
      <!-- <a-sky id="image-360" radius="10" src="#city"></a-sky> -->
      <!-- <a-entity position="0 1 -4" scale="0.6 1.2 1" text-geometry="value: VAPORWAVE; font: #exoItalicFont bevelEnabled: true; bevelSize: 0.1; bevelThickness: 0.1; curveSegments: 1; size: 1.5; height: 0.5;" material="color:pink; metalness:0.9; roughness: 0.05; sphericalEnvMap: #chrome;"></a-entity> -->

      <!-- Image links. -->
      <a-entity id="links" layout="type: line; margin: 4" position="-3 -3 -4">
        <a-entity template="src: #link" data-src="#cubes" data-thumb="#cubes-thumb"></a-entity>
        <a-entity template="src: #link" data-src="#city" data-thumb="#city-thumb"></a-entity>
        <a-entity template="src: #link" data-src="#sechelt" data-thumb="#sechelt-thumb"></a-entity>
      </a-entity>

      <!-- Camera + cursor. -->
      <a-entity camera look-controls>
        <a-cursor id="cursor"
          animation__click="property: scale; startEvents: click; from: 0.1 0.1 0.1; to: 1 1 1; dur: 150"
          animation__fusing="property: fusing; startEvents: fusing; from: 1 1 1; to: 0.1 0.1 0.1; dur: 1500"
          event-set__1="_event: mouseenter; color: springgreen"
          event-set__2="_event: mouseleave; color: red"
          fuse="true"
          raycaster="objects: .link"></a-cursor>
      </a-entity>

      <a-entity position="-7 1 -6" rotation="5 0 0">
       <a-entity position="1 0 0.3" text-geometry="value: Travel In The World of VR ; font: #dawningFont; style: italic; size: 0.8; weight: bold; height: 0;"
                  material="shader: flat; color: red"></a-entity>
        <!-- <a-entity position="1 0 0.3" text-geometry="value: Travel Heaven; font: #dawningFont; style: italic; size: 0.8; weight: bold; height: 0; bevelEnabled: true; bevelSize: 0.04; bevelThickness: 0.04; curveSegments: 1" -->
                  <!-- material="shader: flat; color: red; transparent: true; opacity: 0.4"></a-entity> -->
        </a-entity>
        <a-image src="#logo" position="0 2.5 -4" width="3" height="1" opacity="0.4"></a-image>
    </a-scene>
  </body>
</html>
